<div class="header">

  {% if layout.with_back_link %}
    <a class="header-link-back" href="{{ site.baseurl }}/">all experiments</a>
  {% endif %}

  {% unless true %}
    <a class="header-link-info" href="#info">more info</a>
  {% endunless %}

  <div class="wrapper">

    <a class="header-logo" href="{{ site.baseurl }}/">
      {% include logo.svg %}
      <span>{{ site.title }}</span>
    </a>

    {% unless layout.without_nav %}
      <p class="header-description">{{ site.description }}</p>

      <div class="nav">
        {% for item in site.data.navigation.header %}
          {% assign find_path = (page.path | split: item.link) | size %}
          {% assign item_class = "" %}
          {% if find_path > 1 %}
            {% assign item_class = "nav-link-active" %}
          {% endif %}

          {% assign link = item.link %}
          {% if item.link == "index" %}
            {% assign link = "" %}
          {% endif %}
          <a class="nav-link {{ item_class }}" href="{{ link | prepend: '/' | prepend: site.baseurl }}">{{ item.name }}</a>
        {% endfor %}
      </div>
    {% endunless %}

  </div>

</div>
